.post {
  position: relative;

  &__title {
    hyphens: auto;
    margin-top: 0;
  }

  &__meta {
    text-align: center;
  }

  &__image {
    display: block;
    margin: 15px auto;
    max-height: 335px;
    max-width: 100%;
    opacity: 0;
    transform: translateY(-70px);
    transition: opacity 500ms ease-out,
                transform 500ms ease-out;
    width: 500px;

    body.is-loaded & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__content {
    h3 {
      margin-top: 20px;
    }
  }
}
