.small-head {
  border: 2px solid transparent;
  bottom: 15px;
  height: 70px;
  left: 20px;
  opacity: 0;
  position: absolute;
  transition: opacity 700ms ease-in-out;
}

.container--introduction.is-fixed .small-head {
  opacity: 0.9;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:focus {
    border-color: rgba(255,255,255,0.75);
    opacity: 1;
  }
}
