@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400");
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-thin-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-extralight-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-black-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
  color: #333;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 42px;
  margin: 50px 0 0 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  display: block;
  font-size: 42px;
  margin: 50px 0 40px 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

h2:after {
  width: 26%;
  height: 3px;
  background: #333;
  display: block;
  content: "";
  position: absolute;
  left: 37%;
  bottom: 0;
}

h3,
.page h3 a {
  background: linear-gradient(
    135deg, $color-primary 0%,
    $color-primary-gradient-fade 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 42px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  position: relative;
  padding: 0;
  text-transform: uppercase;

  .page & a:after {
    bottom: 2px;
    left: 0;
    transform: scale(0, 1);
    transform-origin: left top;
    width: 100%;
  }

  .page & a:hover:after {
    display: block;
    left: 0;
    transform: scale(1, 1);
    width: 100%;
  }
}

p {
  text-align: left;
}

strong {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

/* Only the links on a page */
.page a {
  background-image: linear-gradient(#bbb, #bbb);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: center bottom 2%;
  color: $color-primary;
  display: inline-block;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-image: linear-gradient($color-primary, $color-primary);
    outline: none;
  }
}

dl {
	counter-reset: list-counter;
  text-align: left;

  dt {
    font-size: 32px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-left: 50px;

    &:before {
    	content: counter(list-counter);
    	counter-increment: list-counter;
      margin-left: -50px;
      position: absolute;
    }
  }

  dd {
    margin: 0 0 50px 50px;
  }
}

@media screen and (min-width: 640px)
{
    h2 {
      line-height: 1.33;
      margin-top: 100px;
    }

    h3 {
      line-height: 1.1;
    }
}
