<header class="header" role="banner">
  <div class="header__introduction">
    <svg class="icon header__head">
      <use xlink:href="#head"></use>
    </svg>
    <div class="header__content">
      <h1 class="header__title">Edwin Bos</h1>

      <p class="header__subtitle">Front-end Developer &amp; UI/UX designer</p>

      <div class="header__social">
        <a href="http://tinyurl.com/EDBOS"
           class="header__social-link linkedin js-social-link"
           title="Linkedin van Edwin Bos - User Interface, User Experience designer en webdeveloper"
        >
           <svg class="icon header__icon header__icon--linkedin">
             <use xlink:href="#linkedin"></use>
           </svg>
        </a>
        <a href="http://www.codepen.io/edwinbos"
           class="header__social-link linkedin js-social-link"
           title="Codepen van Edwin Bos - User Interface, User Experience designer en webdeveloper"
        >
          <svg class="icon header__icon header__icon--codepen">
             <use xlink:href="#codepen"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="header__navigation-wrapper">
    <a class="header__logo js-header-title" href="{{ "/" | relative_url}}">
      <svg class="icon header__head-small">
        <use xlink:href="#head"></use>
      </svg>
      <span>{{ site.title | escape }}</span>
    </a>
    <div class="header__navigation">
      {% include navigation.html %}
    </div>
  </div>
</header>
